[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
html5lib = "*"
lxml = "*"
nose = "*"
numpy = "*"
opencv-python = "*"
six = "*"
psutil = "*"
pycryptodome = "*"
pylzma = "*"
requests = "*"
lz4 = "*"
matplotlib = "*"
PyYAML = "*"
pillow-simd = "*"
pyOpenSSL = "*"
Send2Trash = "*"
service_identity = "*"
PySocks = "*"
Twisted = "*"
wxpython = {file = "https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-18.04/wxPython-4.0.6-cp36-cp36m-linux_x86_64.whl"}
mysql-connector-python = "*"

[requires]
python_version = "3.6"
